/*Mixins */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
html {
  font-size: 62.5%;
}
body {
  background: #57C6FF;
}
html,
body,
p,
a,
button,
li {
  font-family: 'Open Sans', Arial, sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Raleway', Arial, sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h3 {
  font-size: 2rem;
  padding-bottom: 10px;
}
p,
a,
.button,
li {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
.container {
  font-family: 'Open Sans', Arial, sans-serif;
  max-width: 100%;
  width: 1500px;
  height: 100%;
  margin: 0 auto;
  line-height: 1.3;
}
.blue-container {
  color: #FFFFFF;
  height: 500px;
  width: 100%;
}
.white-container {
  background-color: white;
  padding-left: 20px;
  border-top-left-radius: 25%;
  margin-top: 60px;
  width: 100%;
}
.site-nav {
  background-color: #57C6FF;
  color: #FFFFFF;
  display: flex;
  position: fixed;
  height: 10rem;
  padding-top: 2rem;
  width: 100%;
}
.site-nav h1 {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: 'Comfortaa', Arial, sans-serif;
}
.site-nav nav {
  display: flex;
  justify-content: center;
  width: 40%;
}
.site-nav nav a {
  color: white;
  text-decoration: none;
  padding: 0 25px;
}
.site-nav .button {
  background-color: white;
  color: #57C6FF;
  height: 3.3rem;
  width: 160px;
  text-align: center;
  padding-top: 5px;
  margin-left: 17%;
}
.banner {
  background-color: #57C6FF;
  display: flex;
  width: 100%;
  height: 45rem;
  padding-top: 10rem;
}
.banner .description {
  height: 45rem;
  width: 100%;
  padding: 3% 2% 4% 2%;
}
.banner .description h2 {
  font-weight: bold;
  font-size: 4rem;
  margin-bottom: 20px;
}
.banner .carousel {
  width: 90%;
}
.banner .carousel img {
  width: 840px;
}
.countries {
  padding-top: 20px;
  text-align: center;
}
.countries ul {
  display: flex;
  justify-content: center;
}
.countries ul li {
  padding: 0 3% 0 3%;
}
.features {
  width: 100%;
  display: flex;
  padding: 2% 15% 0 15%;
  flex-direction: column;
  align-items: center;
}
.features .feature {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 150px;
}
.features .feature p {
  padding-left: 5%;
}
