// REM for fonts, PX for heights
// % for left and right margins, paddings, width

.banner {
    background-color: @custom-blue;
    display: flex;
    width: 100%;
    height: 70rem;
    padding-top: 10rem;
    // overflow: hidden;
    // .test-border(black);

    @media @tablet {
        padding-top: 20rem;
        flex-direction: column;
        width: 100%;
        height: 85rem;
    }

    .description {
        height: 45rem;
        width: 100%;
        padding: 3% 2% 4% 2%;

        @media @tablet {
            padding: 5% 5% 0 5%;
            height: 25rem;
            order: 1;
            // .test-border(yellow);
        }


        h2 {
            font-weight: bold;
            font-size: 4rem;
            margin-bottom: 20px;    
        }

    }

    .carousel {
        width: 90%;

        @media @tablet {
            width: 100%;
            // z-index: 1;
            // .test-border(orange);
            text-align: center;
            background: white;
            border-bottom-right-radius: 20%;
            overflow: hidden;
        }

        img {
            width: 650px;


        }
    }
}  