.banner {
    background-color: @custom-blue;
    display: flex;
    width: 100%;

    .description {
        width: 30%;
    }

    .carousel {
        width: 70%;

        img {
            width: 750px;
            float: right;
        }
    }
}