.countries {
    // .test-border(pink);
    padding-top: 20px;
    text-align: center;

    ul {
        display: flex;
        justify-content: center;

        li {
            padding: 0 3% 0 3%;
        }
    }
}