  /* Set every element's box-sizing to border-box */
  *  {
	box-sizing: border-box;
  }

html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;

}
  
html {
font-size: 62.5%;
}

body {
    background: @custom-blue;
}
  
  html, body, p, a, button, li {
    font-family: @content-font;
  }
  
  h1, h2, h3, h4, h5 {
    font-family: @header-font;
  }


h1 {
    font-size: 4rem;
  }
  
  h2 {
    font-size: 3.2rem;
    padding-bottom: 10px;
  }
  
  h3 {
    font-size: 2rem;
    padding-bottom: 10px;
  }
  
  p, a, .button, li {
    line-height: 1.5;
    font-size: 1.6rem;
    padding-bottom: 10px;
  }

  .container {
    font-family: @content-font;
        // background-image: linear-gradient(0deg, @custom-blue 60%, #FFF 50%);
    max-width: 100%;
    width:  1400px;
    height: auto;
	margin: 0 auto;
    line-height: 1.3;

}

.blue-container {
    color: @white;
    height: 395px;
    width: 100%;

    @media @tablet {
        width: 100%;
        height: 950px;
    }

    @media @blue-bg {
        height: 800px;
    }

    @media @mobile {
        height: 1000px;
    }
}

.white-container {
    background-color: white;
    padding-left: 20px;
    border-top-left-radius: 20%;
    margin-top: 60px;
    width: 100%;

    @media @tablet {
        margin-top: -50px;
        height: 900px;
    }


    @media @mobile {
        border-top-left-radius: 0%;
        height: 1300px;
        padding: 10px;
    }

}

