
/*Mixins */

.box-sizing (@type: border-box) {
    -webkit-box-sizing: @type;
    -moz-box-sizing:    @type;
    box-sizing:         @type;
}

.test-border(@color: red) {
	border: 5px dashed @color;
}

.center() {
	display: flex;
	justify-content: center;
	align-items: center;
  }