.site-nav {
    background-color: @header-bg;
    color: @white;
    display: flex;
    justify-content: space-evenly;
    
    h1 {
        font-size: 2rem;
        font-weight: bold;
        font-family: @logo-font;
    }

    nav {
        a {
            color: white;
            text-decoration: none;
        }
    }

    .button {
        background-color: white;
        color: @custom-blue;
        height: 3.3rem;
        width: 180px;
        text-align: center;
        padding-top: 5px;
    }
}