.site-nav {
  background-color: @header-bg;
  color: @white;
  display: flex;
  position: fixed;
  height: 10rem;
  padding: 2rem 0 0 2%;
  width: 100%;
  z-index: 2;

  @media @tablet {
    justify-content: center;
    height: 20rem;
    width: 100%;
  }

  // @media @mobile {
  //     .test-border;
  // }

  .top-bar {
    width: 1400px;
    display: flex;
    justify-content: space-between;

    @media @tablet {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50%;
    }

    @media @mobile {
      width: 90%;
    }

    h1 {
      font-size: 2.5rem;
      font-weight: bold;
      font-family: @logo-font;
      width: 35%;

      @media @tablet {
        width: 100%;
        text-align: center;
      }
    }

    nav {
      display: flex;
      justify-content: center;
      width: 40%;

      @media @tablet {
        width: 100%;
        margin: 5% 0 5% 0;
      }

      a {
        color: white;
        text-decoration: none;
        padding: 0 25px;

        &:hover {
          transform: scale(1.1);
          transition: all 0.2s ease-in-out;
        }
      }
    }

    .button {
      background-color: white;
      color: @custom-blue;
      height: 3.3rem;
      width: 200px;
      text-align: center;
      padding-top: 5px;
      margin-right: 2%;

      &:hover {
        cursor: pointer;
        transform: scale(1.1);
        transition: all 0.2s ease-in-out;
      }

      @media @tablet {
        width: 250px;
        margin: 0;
      }
    }
  }
}
